body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   margin: 0;
   padding: 20px;
}

form {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}

label {
   font-weight: bold;
}

textarea {
   padding: 5px;
   font-size: 0.8em;
   width: 100%;
   resize: none;
   border-radius: 5px;
   margin-bottom: 15px;
   margin-top: 10px;
   box-sizing: border-box;
}

input[type="text"] {
   box-sizing: border-box;
   margin-top: 10px;
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 20px;
}

input[type="button"] {
   width: 150px;
   padding: 10px 20px;
   background-color: #50AF4C;
   color: #fff;
   border: none;
   border-radius: 3px;
   cursor: pointer;
}

input[type="button"]:disabled {
   background-color: #ccc;
   cursor: not-allowed;
}

input[type="submit"] {
   width: 150px;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

input[type="submit"]:disabled {
   background-color: #ccc;
   cursor: not-allowed;
}