body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   margin: 0;
   padding: 20px;
}

label {
   font-weight: bold;
}

#container {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 512px;
   margin-left: auto;
   margin-right: auto;
}

canvas {

   margin-top: 20px;
}